<div class="col-xs-4 col-xs-offset-0">
	<div class="well">
		<h1>Comment List</h1>
		<div style='overflow:scroll;height:200px;'>
			<table class="table">
				<thead>
					<th>id</th>
					<th>UserID</th>
					<th>Comment</th>
				</thead>
				<tbody>
					<% @commentList.each do |commentlist| %>
						<tr>
							<td><%= commentlist.id %></td>
							<td><%= commentlist.email %></td>
							<td><%= commentlist.comment %></td>
						</tr>
					<% end %>
				</tbody>
			</table>	
		</div>
	</div>
</div>